body {
	background: url(../images/background.jpg) no-repeat center
	center fixed;
	background-size:cover;
}
h1 {
	color: #ccc;
}
p {
	color: black;
}
#container {
	margin-top:25px;
}
header {
	background-color: rgb(201, 76, 76);
	width: 500px;
	margin: 0 auto;
	border-radius: 25%;
}
header h1 {
	text-align: center;
	font-size: 50px;
	letter-spacing: 2px;
	padding: 8px 5px 8px 5px;
}
section {
	background-color: rgb(201, 76, 76);
	width: 1100px;
	height: 250px;
	line-height: 1em;
	margin: 25px auto 10px;
}
section p {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 5px;
}
#RandomNumberWinsLosses {
	width: 500px;
	margin: 0 auto 10px;
	height: 120px;
}
#RandomNumber {
	padding-left: 8px;
}
#RandomNumber p{
	background-color: white;
	width: 49%;
	height: 100%;
	font-size: 30px;
	float:left;
	text-align: center;
	line-height: 1.4em;
}
#StartNumber {
	font-size: 60px;
	width: 49%;
	height: 100%;
}
#WinsLosses {
	background-color: #fff;
	width: 49%;
	height: 100%;
	font-size: 30px;
	float:right;
	text-align: center;
	line-height: 1.4em;
}
#Crystals {
	background-color: #fff;
	width: 496px;
	height: 126px;
	margin: auto;
	border: 2px solid #f08e2a;
}
#Crystals img {
	width: 25%;
	height: 100%;
	float: left;
}
#TotalScore {
	clear:both;
	width: 500px;
	height: 105px;
	background-color: #2a967d;
	margin: 10px auto;
}
#TotalScore h1{
	font-size: 150%;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#TotScore {
	color: #fff;
	font-size: 350%;
	padding-left: 10px;
}